/*
******************************************************************
******** author:kambale promesse                                **
******** description:page de presentation de mon portefolio     **
******** date de creation: 06-07-2023                           **
******************************************************************
*/

body,html{
    margin: 0%;
    padding: 0%;
    height: 1450px;
}

/* header */
.logo{
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(20deg);
    background-color: #0c0c44;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    width: 70px;
    border-radius: 10px 1em ;
}
header{
    position: fixed;
    background-color:#10105f ;
    height: 80px;
    width: 100%;
    
    
}
.navigation{
    display: flex;
    list-style: none;
    float: right;
    margin-block: 30px;
}

.navigation>li>a{
    margin:0px 10px 0px 10px ;
    padding: 5px;
    text-decoration: none;
    color: azure;
    background-color: #0c0c44;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}


/* contenu principale */
.main_container{
    
    padding-top:80px ;
}

.banner{
    width: 100%;
}